<div class="container addForm">
    <br>
    <h3>What's the occasion?</h3>
    <hr>
    <div>
        <label>Name</label><br>
        <input type="text" [(ngModel)]="name">
    </div>
    <div>
        <label>Description</label><br>
        <input type="text" [(ngModel)]="description">
    </div>
    <br>
    <h3>Where is it at?</h3>
    <hr>
    <div>
        <label>Address</label><br>
        <input type="text" [(ngModel)]="address">
    </div>
    <div>
        <label>City</label><br>
        <input type="text" [(ngModel)]="city">
    </div>
    <div>
        <label>State</label><br>
        <input type="text" [(ngModel)]="state" maxlength="2">
    </div>
    <br>
    <h3>Some more details, please :)</h3>
    <hr>
    <div>
        <label>Price</label><br>
        <input type="text" [(ngModel)]="ticketPrice">
    </div>
    <div>
        <label>Category</label><br>
        <select [(ngModel)]="type">
            <option value="Family">Family</option>
            <option value="Religious">Religious</option>
            <option value="Concert">Concert</option>
        </select>
    </div>
    <div>
        <label>Host</label><br>
        <input type="text" [(ngModel)]="hostedBy">
    </div>
    <div>
        <label>Date&Time</label><br>
        <input type="datetime-local" [(ngModel)]="dateTime">
    </div>
    <div>
        <label>Tickets Left</label><br>
        <input type="text" [(ngModel)]="availableTickets">
    </div>
    <button class="addEventbtn" (click)="AddEvent(name,description,address,city,state,ticketPrice,type,hostedBy,dateTime,availableTickets)">Submit</button>

</div>