<div class="container">
    <br>
    <app-search class="onSearchPage"></app-search>
    <h1>my favs!</h1>
    <hr>
        <div class="row">
            <div class="col-md-12">
                <div *ngFor="let e of resultList; index as i">
                    <div class="eventCard" id="event{{e.id}}">
                        <img src="/assets/{{e.id}}.jpg" width="150">
                        <div class="eventContents secondSpan"> 
                            <span style="display:flex">
                                <a [routerLink]="['event',e.id]" class="eventCardTitle">{{e.name}}</a>
                                <p class="divider">&nbsp;|&nbsp;</p>
                                <a [routerLink]="['../search-page', e.city]" class="pushDown"> {{e.city}}, {{e.state}}</a>
                            </span>
                            <span >
                                <p>{{e.type}} Event by {{e.hostedBy}} on {{fmtr.dateFormatter(e.dateTime)}}</p>
                                <button (click)="RmvFav(e.id,loggedIn)" (click)="rmvLocal(i)" id="remove{{e.id}}">Remove from favorites</button>
                            </span>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    
    </div>