
<div class="homeSplash">
	<h1>What're you doing this weekend?</h1>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-9">
			<h3>Recent Events!</h3>
			<hr>
			<div *ngIf="workingList.length !== 0">
			<div *ngFor="let e of workingList">
				<div class="eventCard" *ngIf="e">
					<img src="/assets/{{e.id}}.jpg" width="150">
					<div class="eventContents secondSpan"> 
						<span style="display:flex">
							<a [routerLink]="['event', e.id]" class="eventCardTitle">{{e.name}}</a>
							<p class="divider">&nbsp;|&nbsp;</p>
							<a [routerLink]="['search-page', e.city]" class="pushDown"> {{e.city}}, {{e.state}}</a>
						</span>
						<span>
							<div *ngIf="e.type === 'Religious'; else elseBlock">
								<p><fa-icon [icon]="faSpaghettiMonsterFlying"></fa-icon>{{e.type}} Event by {{e.hostedBy}} on {{fmtr.dateFormatter(e.dateTime)}}</p>
							</div>
							<ng-template #elseBlock>
								<p>{{e.type}} Event by {{e.hostedBy}} on {{fmtr.dateFormatter(e.dateTime)}}</p>
							</ng-template>
						</span>
					</div>
				</div>
				<hr>
			</div>
			</div>
    	</div>
    	<div class="col-md-3">
			<h3>Popular Catagories</h3>
			<hr>
			<ul>
				<li><a [routerLink]="['search-page', 'detroit']">Detroit Events</a></li>
				<li><a [routerLink]="['search-page', 'social']">Social Events</a></li>
				<li><a [routerLink]="['search-page', 'religious']">Religious Events</a></li>
				<li><a [routerLink]="['search-page', 'concert']">Concerts</a></li>
			</ul>
    	</div>
	</div>
</div>