<div class="homeSplash">
	<h1>What're you doing this weekend?</h1>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-9">
			<h3>Recent Events!</h3>
			<hr>
			<div *ngFor="let e of workingList">
				<div class="eventCard">
					<img src="/assets/{{e.id}}.jpg" width="150">
					<div class="eventContents"> 
						<span style="display:flex">
							<a [routerLink]="['event',e.id]" class="eventCardTitle">{{e.name}}</a>
							<p class="divider">&nbsp;|&nbsp;</p>
							<a [routerLink]="['location', e.state, e.city]"> {{e.city}}, {{e.state}}</a>
						</span>
						<br>
						<span>
							<div *ngIf="e.type === 'Religious'; else elseBlock">
								<p><fa-icon [icon]="faSpaghettiMonsterFlying"></fa-icon>{{e.type}} Event by {{e.hostedBy}} on {{fmtr.dateFormatter(e.dateTime)}}</p>
							</div>
							<ng-template #elseBlock>
								<p>{{e.type}} Event by {{e.hostedBy}} on {{fmtr.dateFormatter(e.dateTime)}}</p>
							</ng-template>
						</span>
					</div>
				</div>
				<hr>
			</div>
    	</div>
    	<div class="col-md-3">
			<h3>Popular Catagories</h3>
			<hr>
			<ul>
				<li>Detroit Events</li>
				<li>Social Events</li>
				<li>Scary Events</li>
			</ul>
    	</div>
	</div>
</div>