<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Upmeet</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/add-event']">Add Event</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/my-favs']">My Favs</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <app-user-dropdown></app-user-dropdown>
          </li>
          <li class="nav-item navSearchBar" [routerLinkActive]="['link-active']">
            <app-search></app-search>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
